@font-face {
  		font-family: 'Helvetica';
  		src: url(assets/HelveticaLTStd-Roman.otf);
	}

	@font-face {
  		font-family: 'Helvetica-Italic';
  		src: url(assets/HelveticaLTStd-Obl.otf);
	}

*, *:before, *:after {
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box; 
  	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  	}

/**:active { 
  	cursor: url("assets/whitecircle.png"), auto;
  	}*/


	html {
  		margin: 0;
  		background-color: #dbd5c5;
  		overflow-x: hidden;
  		text-decoration: none;
  	}

  	body{
  	}

    html a {
  		color: #f5fff9;
		font-family: 'Helvetica', Helvetica, Arial, sans-serif;
		text-decoration: none;
		font-size: calc(30px + 0.2vw);
	}

	a, a:link, a:visted, a:active {
		color: 	black;
		font-family: 'Helvetica', Helvetica, Arial, sans-serif;
		text-decoration: none;
	}


	header{
		width: 100vw;
		position: fixed;
		background-color: none;
		top: 0;
		display: inline;
		padding-top: 0.85em;
		padding-left: 0.75em;
/*		-webkit-box-shadow: 0px 16px 10px -6px rgba(255,255,255,1);
-moz-box-shadow: 0px 16px 10px -6px rgba(255,255,255,1);
box-shadow: 0px 16px 10px -6px rgba(255,255,255,1);*/
	}

	header #lang {
		right:1.5em;
		top: 0.25em;
		float: right;
		position: absolute;
		display: inline;
		text-transform: capitalize;
	}

	header #lang-2 {
		right:1.5em;
		top: 0.25em;
		float: right;
		position: absolute;
		display: none;
		text-transform: capitalize;
	}

/*	header #about {
		position: sticky;
		top:0px;
		display: inline-block;
	}*/

	.about.active{
		opacity: 0;
		z-index: 100;	
	}


	#about {
		display: none;
		background-color: none;
		height: 100vh;
		width: 99vw;
		margin: 0;
		top: 0px;
		left: 0px;
		z-index: 99999;
		padding-top: calc(0.25em + 0.2vw);
		padding-left: calc(0.15em + 0.2vw);
		padding-right: calc(4vw + 0.2vw);
		z-index: 100;	
	}



	#about a{
		font-family: /*Times,sans-serif;*/ 'Helvetica', Helvetica, Arial, sans-serif;
		font-size: calc(30px + 0.2vw);
		line-height: 43px;
		z-index: 99999;
	}

	#about u{
		text-decoration: none;
	}


	footer{
		position: fixed;
		background-color: none;
		padding-bottom: 0.25em;
		padding-left: 0.45em;
		padding-top: 0.5;
		z-index: 100;	
	}

	footer, footer a, #para1 a{
		font-family: 'Helvetica', Helvetica, Arial, sans-serif;
		bottom: 0em;
		padding-left: 0.25em;
	}


	footer #contact {
		right:1.25em;
		float: right;
		position: relative;
		display: inline;
		z-index: 1;
		cursor: pointer;
	}
/*
	img {
  		width: 100%;
  		height: auto; }*/


/* Most important right here ___________________________________________*/

	main {		
		min-height: 100vh;
	}	


	body{
		margin-left: 0;
	}


	.container{
		background-color: #dbd5c5;
		margin-top: calc(3.75em + 0.2vw);
		margin-bottom: calc(3.85em + 0.2vw);
	}


	.hover{
		display: block;
		/*padding-bottom: calc(0.25em + 0.2vw);*/

	}

	img{
		height:500px;
		width:auto;
		align-items: center;
		justify-content: center;
		/*pointer-events: none;*/
		z-index: 0;	
		margin:auto;
	}


#tooltip
{
  /*width: 200px;*/
  position: absolute;
  display:none;
  background-color: #f5fff9;
  text-align: center;
  color: black;
  font-size: calc(18px + 0.2vw);
  font-family: 'Helvetica', Helvetica, Arial, sans-serif;
}


/* Mobile size: ___________________________________________*/


@media screen and (max-width: 470px) {


	html a {
  		color: #f5fff9;
		font-family: 'Helvetica', Helvetica, Arial, sans-serif;
		text-decoration: none;
		font-size: calc(17pt + 0.2vw);
		z-index: 99999;
	}

	header{
		width: 100%;
		left: 0px;
		padding-bottom: calc(0.25em + 0.2vw);
	}
	

	.container{
		background-color: #dbd5c5;
		margin-top: calc(5.75em + 0.2vw);
		margin-bottom: calc(0.85em + 0.2vw);
	}


	#about {
		display: none;
		background-color: none;
		height: 100vh;
		width: 99vw;
		margin: 0;
		top: 0px;
		left: 0px;
		z-index: 9999;
		padding-top: calc(0.25em + 0.2vw);
		padding-right: calc(2em + 0.2vw);
	}

	#about a{
		font-family: /*Times,sans-serif;*/ 'Helvetica', Helvetica, Arial, sans-serif;
		font-size: calc(17pt + 0.2vw);
		line-height: 30px;
	}


	header #lang, header #lang-2 {
		padding-top: calc(0.15em + 0.2vw);
		right: calc(0.75em + 0.2vw);
	}


	#lang #arrow, #lang-2 #arrow{
		height:21pt;
		width:21pt;
	}

	header .about{
		display: block;
	}

	.about.active{
		opacity: 100;
	}


	footer{
		padding-bottom: calc(0.25em + 0.2vw);	
	}


}



/* Mobile size TINY 320: ___________________________________________*/


@media screen and (max-width: 469px) {


	html a {
  		color: #f5fff9;
		font-family: 'Helvetica', Helvetica, Arial, sans-serif;
		text-decoration: none;
		font-size: calc(17pt + 0.2vw);
		overflow-x: hidden;
	}

#about a{
		font-family: /*Times,sans-serif;*/ 'Helvetica', Helvetica, Arial, sans-serif;
		font-size: calc(17pt + 0.2vw);
		line-height: 23px;
	}	

 img{
 	width: 100vw;
 	height: auto;
 }

}