@font-face {
font-family: Haas;
src: url(assets/NHaasGroteskDSPro-55Rg.ttf);
}

*, *:before, *:after {
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box; 
  	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome and Opera */
  	}


	html {
  		margin: 0;
  		background-color: #dbd5c5;
  		overflow-x: hidden;
  		text-decoration: none;
  	}

    html a {
  		color: #f5fff9;
		font-family: 'Haas', Helvetica, Arial, sans-serif;
		text-decoration: none;
		font-size: calc(24px + 0.2vw);
	}

	a, a:link, a:visted, a:active {
		color: 	black;
		font-family: 'Haas', Helvetica, Arial, sans-serif;
		text-decoration: none;
	}

	header{
		width: 100%;
		position: fixed;
		top:0;
		display: inline;
		padding-top: 0.25em;
		padding-left: 0.75em;
		z-index: 99999;
	}

	header .more{
		padding-top: 0.5em;
		position: relative;
	}

	header .more .name{
	padding-left: 0.25em;
	}

	header #lang {
		right:1em;
		float: right;
		position: absolute;
		text-transform: capitalize;
		z-index:1000;
	}

	header #lang-2 {
		right:1em;
		float: right;
		position: absolute;
		display: none;
		text-transform: capitalize;
		z-index:1000;
	}

	.about.active{
		opacity: 0;
	}

	#about {
		background-color: #dbd5c5;
		display: none;
		height: 100vh;
		width: 102vw;
		margin-left: -15px;
		top: 0px;
		left: 0px;
		padding-top: calc(0.25em + 0.2vw);
		padding-left: 1.5em;
		padding-right: calc(4vw + 0.2vw);
	}


	#about a{
		font-family: 'Haas', Helvetica, Arial, sans-serif;
		font-size: calc(24px + 0.2vw);
		line-height: 32px;
	}

	#about u{
		text-decoration: none;
	}


	footer{
		position: fixed;
		width: 101vw;
		background-color: #dbd5c5;
		padding-bottom: 0.95em;
		padding-left: 0.45em;
		z-index: 100;	

	}

	footer, footer a, #para1 a{
		font-family: 'Haas', Helvetica, Arial, sans-serif;
		bottom: 0em;
		padding-left: 0.45em;
	}


	footer #contact {
		right:1.25em;
		float: right;
		position: relative;
		display: inline;
		z-index: 1;
		cursor: pointer;
	}


/* Most important right here ___________________________________________*/

	main {		
		min-height: 100%;
		width: 100vw;
		margin: 10px;
		padding-top:45px;
	}	


	body{
		margin-left: 0;
	}

	.container{
/*		padding-top:50px;*/
		padding-bottom:50px;
		font-size: 0;
		background-color: #dbd5c5;
		width: 95vw;
		margin-left: calc(7.75em + 0.2vw);
		margin-right: 2.5%;
		margin-top: calc(3.75em + 0.2vw);
		margin-bottom: calc(3.85em + 0.2vw);
	}

	.hover{
		display: inline-block;
		height: auto;
	}

	.hoverline{
		width: 102vw;
		height: auto;
 		position: absolute;
 		left:-1px;
 		display: inline-block;
	    border-bottom: solid 1.5pt #f5fff9;
	}

	img{
		height:180px;
		width:auto;
		z-index: 0;	
		display: inline-block;
	}

.caption{
 display: none;
 width: 80vw;
 height: auto;
 text-align: left;
 padding-bottom: 20px; 
 padding-left: 42px; 
 margin-top: -25px;
}

.caption .largerpicture img{
 padding-right: 25px;
 width: 100%;
 height:auto;
}

.caption p{
 padding-right: 25px;
 color: #f5fff9;
 font-size: calc(24px + 0.2vw);
 font-family: 'Haas', Helvetica, Arial, sans-serif;
 line-height: 30px;
}

#tooltip{
  /*width: 200px;*/
  z-index: 10000;
  position: absolute;
  display:none;
  background-color: #f5fff9;
  text-align: center;
  color: black;
  font-size: calc(18px + 0.2vw);
  font-family: 'Haas', Helvetica, Arial, sans-serif;
}


/* Mobile size: ___________________________________________*/


@media screen and (max-width: 470px) {

	#tooltip{
		display: none;
	}

	.hoverline{
		display: none;
	}


	html a {
  		color: #f5fff9;
		font-family: 'Haas', Helvetica, Arial, sans-serif;
		text-decoration: none;
		font-size: calc(17pt + 0.2vw);
		z-index: 99999;
	}

	header{
		width: 100%;
		left: 0px;
		padding-bottom: calc(0.25em + 0.2vw);
	}
	

	.container{
		background-color: #dbd5c5;
		margin-top: calc(5.75em + 0.2vw);
		margin-bottom: calc(0.85em + 0.2vw);
	}

	#about {
		display: none;
		background-color: none;
		height: 100vh;
		width: 99vw;
		margin: 0;
		top: 0px;
		left: 0px;
		z-index: 9999;
		padding-top: calc(0.25em + 0.2vw);
		padding-right: calc(2em + 0.2vw);
	}

	#about a{
		font-family: 'Haas', Helvetica, Arial, sans-serif;
		font-size: calc(17pt + 0.2vw);
		line-height: 20px;
	}


	header #lang, header #lang-2 {
		padding-top: calc(0.15em + 0.2vw);
		right: calc(0.75em + 0.2vw);
	}


	#lang #arrow, #lang-2 #arrow{
		height:21pt;
		width:21pt;
	}

	header .about{
		display: block;
	}

	.about.active{
		opacity: 100;
	}


	footer{
		padding-bottom: calc(0.25em + 0.2vw);	
	}


}

